Application/source/db/extensions/Spellfix.c linguist-vendored
Application/source/db/extensions/okapi_bm25.c linguist-vendored
Common/include/decoders/* linguist-vendored
Common/libs/SQLite/* linguist-vendored